body{
    background-color: black;
}
#companies_ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    position: absolute;
    width: 20em;
    right: 1050px;


}


#companies_ul2
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 20em;
    position: absolute;
    left: 390px;



}

#companies_ul3
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 20em;
    left: 760px;
    position: absolute;


}


#companies_ul4
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 20em;
    left: 1060px;
    position: absolute;


}

#companies_ul li
{
    border: 1px solid #ffffff;
    margin: 4em 6em;
    height: 6.5em;
    width: 14em;
    background: black;
}



#companies_ul2 li
{
    border: 1px solid #ffffff;
    margin: 4em 0em;
    height: 6.5em;
    width: 14em;
    background: black;
}


#companies_ul3 li
{
    border: 1px solid #ffffff;
    margin: 4em 6em;
    height: 6.5em;
    width: 14em;
    background: black;
}


#companies_ul4 li
{
    border: 1px solid #ffffff;
    margin: 4em 0em;
    height: 6.5em;
    width: 14em;
    background: black;
}



#companies_ul li:hover {
    background: #020000;
}

.container{
    background: black;

}

input{
    color: white;
}

h4{
    color: white;
}

h3{
    color: white;
}

.vertical2 {
    border-left: 1px solid #1f1f12;
    height: 902px;
    left: 39.5%;
    top: 45%;
    position: absolute;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 29px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}
p{
    color: white;

}

nav{
    background-color: #29a096;
    height: 90px;
    font-size: 48px;
    color: black;


}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #e0d05c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
