body{
    background-color: white;
}
#companies_ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
position: absolute;
    width: 20em;
    right: 1050px;


}


#companies_ul2
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 20em;
    position: absolute;
    left: 390px;



}

#companies_ul3
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 20em;
    left: 760px;
    position: absolute;


}


#companies_ul4
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 20em;
    left: 1060px;
    position: absolute;


}

#companies_ul li
{
    border: 1px solid #ffffff;
    margin: 4em 6em;
    height: 6.5em;
    width: 14em;
}



#companies_ul2 li
{
    border: 1px solid #ffffff;
    margin: 4em 0em;
    height: 6.5em;
    width: 14em;
}


#companies_ul3 li
{
    border: 1px solid #ffffff;
    margin: 4em 6em;
    height: 6.5em;
    width: 14em;
}


#companies_ul4 li
{
    border: 1px solid #ffffff;
    margin: 4em 0em;
    height: 6.5em;
    width: 14em;
}



#companies_ul li:hover {
}

.container{

}

input{
    color: black;
}

h4{
    color: black;
}

h3{
    color: black;
}

.vertical2 {
    border-left: 1px solid #1f1f12;
    height: 902px;
    left: 39.5%;
    top: 45%;
    position: absolute;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 29px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}
p{
    color: black;

}

nav{
    background-color: #29a096;
    height: 60px;
    font-size: 48px;

}
